[build]
  command = "npm install && npm run build"
  publish = "dist"

[context.production.environment]
  CI = "false"

[functions]
  directory = "netlify/functions"
  node_bundler = "esbuild"

[dev]
  command = "npm run dev"
  targetPort = 5173

[environment]
  NODE_VERSION = "20"
  CI = "false"
